<nav class="nav">
    <h1> <a routerLink="/"></a>E-Comm</h1>
    <div *ngIf="MenuType! ==='seller'" class="nav-search">
        <input type="text" #searchInput (keyup)="searchProduct($event)" (blur)="hideSearch()"
            placeholder="Search for products">
        <button (click)="submitSearch(searchInput.value)">Search</button>
        <ul class="suggested-result" *ngIf="searchResultproduct">
            <li *ngFor="let item of searchResultproduct">
                <a (mousedown)="redirectToDetails(item.id)">{{item.name}}</a>
            </li>
        </ul>
    </div>

    <div [ngSwitch]="MenuType">
        <ul *ngSwitchCase="'default'">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/seller-auth">Seller</a></li>
            <li><a routerLink="/user-auth">Login/Sign-up</a></li>
            <li><a href="#">Cart({{cartItems}})</a></li>
        </ul>

        <ul *ngSwitchCase="'user'">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/seller-auth">{{UserName | titlecase}}</a></li>

            <li><a routerLink="my-orders">My orders</a></li>
            <li><a (click)="userLogOut()">LogOut</a></li>
            <li><a [routerLink]="cartItems>0?'cart-page':null">Cart({{cartItems}})</a></li>

        </ul>

        <ul *ngSwitchCase="'seller'">
            <li><a routerLink="seller-add-product">Add Product</a></li>
            <li><a routerLink="/seller-home">Products List</a></li>
            <li><a (click)="logOut()">LogOut</a></li>
            <li><a href="#">{{SellerName | titlecase}}</a></li>
        </ul>

    </div>
</nav>